<main class="container-xl">
    <div id="diagnostics-block" class="my-3 p-3 rounded shadow">
        <h6 class="border-bottom pb-2 mb-2">診斷</h6>

        <h3>版本</h3>
        <div class="row">
            <div class="col-md">
                <dl class="row">
                    <dt class="col-sm-5">伺服器已安裝版本
                        <span class="badge bg-success d-none abbr-badge" id="server-success" title="已安裝最新版本。">正常</span>
                        <span class="badge bg-warning text-dark d-none abbr-badge" id="server-warning" title="有可用更新。">更新</span>
                        <span class="badge bg-info text-dark d-none abbr-badge" id="server-branch" title="此為分支版本。">分支</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="server-installed">{{page_data.current_release}}</span>
                    </dd>
                    <dt class="col-sm-5">伺服器最新版本
                        <span class="badge bg-secondary d-none abbr-badge" id="server-failed" title="無法判斷最新版本。">未知</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="server-latest">{{page_data.latest_release}}<span id="server-latest-commit" class="d-none">-{{page_data.latest_commit}}</span></span>
                    </dd>
                    {{#if page_data.web_vault_enabled}}
                    <dt class="col-sm-5">網頁端已安裝版本
                        <span class="badge bg-success d-none abbr-badge" id="web-success" title="已安裝最新版本。">正常</span>
                        <span class="badge bg-warning text-dark d-none abbr-badge" id="web-warning" title="有可用更新。">更新</span>
                        <span class="badge bg-info text-dark d-none abbr-badge" id="web-prerelease" title="您使用的是預先發行版本。">預先發行版</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="web-installed">{{page_data.active_web_release}}</span>
                    </dd>
                    <dt class="col-sm-5">網頁端最新版本
                        <span class="badge bg-secondary d-none abbr-badge" id="web-failed" title="無法判斷最新版本。">未知</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="web-latest">{{page_data.latest_web_release}}</span>
                    </dd>
                    {{/if}}
                    {{#unless page_data.web_vault_enabled}}
                    <dt class="col-sm-5">網頁端已安裝版本</dt>
                    <dd class="col-sm-7">
                        <span id="web-installed">網頁保管庫已停用</span>
                    </dd>
                    {{/unless}}
                    <dt class="col-sm-5">資料庫</dt>
                    <dd class="col-sm-7">
                        <span><b>{{page_data.db_type}}:</b> {{page_data.db_version}}</span>
                    </dd>
                </dl>
            </div>
        </div>

        <h3>檢查項目</h3>
        <div class="row">
            <div class="col-md">
                <dl class="row">
                    <dt class="col-sm-5">作業系統/架構</dt>
                    <dd class="col-sm-7">
                        <span class="d-block"><b>{{ page_data.host_os }} / {{ page_data.host_arch }}</b></span>
                    </dd>
                    <dt class="col-sm-5">在容器內執行</dt>
                    <dd class="col-sm-7">
                    {{#if page_data.running_within_container}}
                        <span class="d-block"><b>是（基底映像： {{ page_data.container_base_image }})</b></span>
                    {{/if}}
                    {{#unless page_data.running_within_container}}
                        <span class="d-block"><b>否</b></span>
                    {{/unless}}
                    </dd>
                    <dt class="col-sm-5">使用 config.json</dt>
                    <dd class="col-sm-7">
                    {{#if page_data.overrides}}
                        <span class="d-inline"><b>是</b></span>
                        <span class="badge bg-info text-dark abbr-badge" title="環境變數已被 config.json 覆蓋。&#013;&#010;{{page_data.overrides}}">詳細資訊</span>
                    {{/if}}
                    {{#unless page_data.overrides}}
                        <span class="d-block"><b>否</b></span>
                    {{/unless}}
                    </dd>
                    <dt class="col-sm-5">使用反向代理</dt>
                    <dd class="col-sm-7">
                    {{#if page_data.ip_header_exists}}
                        <span class="d-block" title="已找到 IP 標頭。"><b>是</b></span>
                    {{/if}}
                    {{#unless page_data.ip_header_exists}}
                        <span class="d-block" title="未找到 IP 標頭。"><b>否</b></span>
                    {{/unless}}
                    </dd>
                    {{!-- 僅在存在 IP 標頭時顯示 --}}
                    {{#if page_data.ip_header_exists}}
                    <dt class="col-sm-5">IP 標頭
                    {{#if page_data.ip_header_match}}
                        <span class="badge bg-success abbr-badge" title="IP_HEADER 設定看起來有效。">符合</span>
                    {{/if}}
                    {{#unless page_data.ip_header_match}}
                        <span class="badge bg-danger abbr-badge" title="IP_HEADER 設定看起來無效。日誌中的 IP 可能不正確，請修正。">不符合</span>
                    {{/unless}}
                    </dt>
                    <dd class="col-sm-7">
                    {{#if page_data.ip_header_match}}
                        <span class="d-block"><b>設定/伺服器：</b> {{ page_data.ip_header_name }}</span>
                    {{/if}}
                    {{#unless page_data.ip_header_match}}
                        <span class="d-block"><b>設定：</b> {{ page_data.ip_header_config }}</span>
                        <span class="d-block"><b>伺服器：</b> {{ page_data.ip_header_name }}</span>
                    {{/unless}}
                    </dd>
                    {{/if}}
                    {{!-- IP 標頭條件結束 --}}
                    <dt class="col-sm-5">網際網路連線
                    {{#if page_data.has_http_access}}
                        <span class="badge bg-success abbr-badge" title="可連上網際網路！">正常</span>
                    {{/if}}
                    {{#unless page_data.has_http_access}}
                        <span class="badge bg-danger abbr-badge" title="似乎無法連上網際網路，請修正。">錯誤</span>
                    {{/unless}}
                    </dt>
                    <dd class="col-sm-7">
                    {{#if page_data.has_http_access}}
                        <span class="d-block"><b>是</b></span>
                    {{/if}}
                    {{#unless page_data.has_http_access}}
                        <span class="d-block"><b>否</b></span>
                    {{/unless}}
                    </dd>
                    <dt class="col-sm-5">網際網路連線 via a proxy</dt>
                    <dd class="col-sm-7">
                    {{#if page_data.uses_proxy}}
                        <span class="d-block" title="網際網路連線 goes via a proxy (HTTPS_PROXY or HTTP_PROXY is configured)."><b>是</b></span>
                    {{/if}}
                    {{#unless page_data.uses_proxy}}
                        <span class="d-block" title="可直接連上網際網路，未設定對外代理伺服器。"><b>否</b></span>
                    {{/unless}}
                    </dd>
                    <dt class="col-sm-5">WebSocket 已啟用
                        {{#if page_data.enable_websocket}}
                        <span class="badge bg-success d-none abbr-badge" id="websocket-success" title="WebSocket 連線正常。">正常</span>
                        <span class="badge bg-danger d-none abbr-badge" id="websocket-error" title="WebSocket 連線錯誤，請檢查反向代理設定！">錯誤</span>
                        {{/if}}
                    </dt>
                    <dd class="col-sm-7">
                    {{#if page_data.enable_websocket}}
                        <span class="d-block" title="WebSocket 連線已啟用（ENABLE_WEBSOCKET 為 true）。"><b>是</b></span>
                    {{/if}}
                    {{#unless page_data.enable_websocket}}
                        <span class="d-block" title="WebSocket 連線已停用（ENABLE_WEBSOCKET 為 false）。"><b>否</b></span>
                    {{/unless}}
                    </dd>

                    <dt class="col-sm-5">DNS (github.com)
                        <span class="badge bg-success d-none abbr-badge" id="dns-success" title="DNS 解析正常！">正常</span>
                        <span class="badge bg-danger d-none abbr-badge" id="dns-warning" title="DNS 解析失敗，請修正。">錯誤</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="dns-resolved">{{page_data.dns_resolved}}</span>
                    </dd>
                    <dt class="col-sm-5">日期與時間（本地）
                        {{#if page_data.tz_env}}
                            <span class="badge bg-success abbr-badge" title="已設定 TZ 環境變數">{{page_data.tz_env}}</span>
                        {{/if}}
                    </dt>
                    <dd class="col-sm-7">
                        <span><b>伺服器：</b> {{page_data.server_time_local}}</span>
                    </dd>
                    <dt class="col-sm-5">日期與時間（UTC）
                        <span class="badge bg-success d-none abbr-badge" id="time-success" title="伺服器與瀏覽器時間相差在 15 秒內。">伺服器/瀏覽器正常</span>
                        <span class="badge bg-danger d-none abbr-badge" id="time-warning" title="伺服器與瀏覽器時間相差超過 15 秒。">伺服器/瀏覽器錯誤</span>
                        <span class="badge bg-success d-none abbr-badge" id="ntp-server-success" title="伺服器與 NTP 時間相差在 15 秒內。">伺服器 NTP 正常</span>
                        <span class="badge bg-danger d-none abbr-badge" id="ntp-server-warning" title="伺服器與 NTP 時間相差超過 15 秒。">伺服器 NTP 錯誤</span>
                        <span class="badge bg-success d-none abbr-badge" id="ntp-browser-success" title="瀏覽器與 NTP 時間相差在 15 秒內。">瀏覽器 NTP 正常</span>
                        <span class="badge bg-danger d-none abbr-badge" id="ntp-browser-warning" title="瀏覽器與 NTP 時間相差超過 15 秒。">瀏覽器 NTP 錯誤</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="ntp-time" class="d-block"><b>NTP：</b> <span id="ntp-server-string">{{page_data.ntp_time}}</span></span>
                        <span id="time-server" class="d-block"><b>伺服器：</b> <span id="time-server-string">{{page_data.server_time}}</span></span>
                        <span id="time-browser" class="d-block"><b>瀏覽器：</b> <span id="time-browser-string"></span></span>
                    </dd>

                    <dt class="col-sm-5">網域設定
                        <span class="badge bg-success d-none abbr-badge" id="domain-success" title="網域變數與瀏覽器位置相符，設定看起來正確。">符合</span>
                        <span class="badge bg-danger d-none abbr-badge" id="domain-warning" title="網域變數與瀏覽器位置不相符。&#013;&#010;網域變數可能設定錯誤。&#013;&#010;部分功能可能無法如預期運作！">不符合</span>
                        <span class="badge bg-success d-none abbr-badge" id="https-success" title="已設定使用 HTTPS">HTTPS</span>
                        <span class="badge bg-danger d-none abbr-badge" id="https-warning" title="未設定使用 HTTPS。&#013;&#010;部分功能可能無法如預期運作！">非 HTTPS</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="domain-server" class="d-block"><b>伺服器：</b> <span id="domain-server-string">{{page_data.admin_url}}</span></span>
                        <span id="domain-browser" class="d-block"><b>瀏覽器：</b> <span id="domain-browser-string"></span></span>
                    </dd>

                    <dt class="col-sm-5">HTTP 回應驗證
                        <span class="badge bg-success d-none abbr-badge" id="http-response-success" title="所有標頭與 HTTP 回應看起來正常。">正常</span>
                        <span class="badge bg-danger d-none abbr-badge" id="http-response-warning" title="部分標頭或 HTTP 回應傳回無效資料！">錯誤</span>
                    </dt>
                    <dd class="col-sm-7">
                        <span id="http-response-errors" class="d-block"></span>
                    </dd>
                </dl>
            </div>
        </div>

        <h3>支援</h3>
        <div class="row">
            <div class="col-md">
                <dl class="row">
                    <dd class="col-sm-12">
                        若您需要支援，建立新議題前請先查看以下連結：
                         <a href="https://vaultwarden.discourse.group/" target="_blank" rel="noreferrer noopener">Vaultwarden 論壇</a>
                         | <a href="https://github.com/dani-garcia/vaultwarden/discussions" target="_blank" rel="noreferrer noopener">GitHub 討論區</a>
                    </dd>
                </dl>
                <dl class="row">
                    <dd class="col-sm-12">
                        您可使用下方按鈕預先產生字串，複製貼上到論壇或 GitHub 新議題中。<br>
                        我們會預設隱藏支援字串中的敏感資訊，但仍請再次確認是否有您想隱藏的內容！<br>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3">
                        <button type="button" id="gen-support" class="btn btn-primary">產生支援字串</button>
                        <br><br>
                        <button type="button" id="copy-support" class="btn btn-info mb-3 d-none">複製到剪貼簿</button>
                        <div class="toast-container position-absolute float-start vw-copy-toast">
                            <div id="toastClipboardCopy" class="toast fade hide" role="status" aria-live="polite" aria-atomic="true" data-bs-autohide="true" data-bs-delay="1500">
                                <div class="toast-body">
                                    已複製到剪貼簿！
                                </div>
                            </div>
                        </div>
                    </dt>
                    <dd class="col-sm-9">
                        <pre id="support-string" class="pre-scrollable d-none w-100 border p-2"></pre>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</main>
<script src="{{urlpath}}/vw_static/admin_diagnostics.js"></script>
<script type="application/json" id="diagnostics_json">{{to_json page_data}}</script>
